---
title: Digital Twin Studios
description: >-
  DTSXR is a learning development company specializing in immersive and
  interactive simulations for multiple industries.
keywords: >-
  Digital Twins Studio, dtsxr, dts, Learning Devlopment, interactive
  simulations, unity, unity developer, create the creator, unity create the
  creator, multiple industries simulation developer,real-time development
  platform, real-time development, Vr visualization, AR visualization, 3d
  visualization, 3d platform, 2d platform, Vr platform, AR platform, 3d
  real-time, AR real-time, 2d Development, 3d Development, AR Development, VR
  Development
layout: default
pagename: home
---
 {% for item in site.data.home-video limit:1 %}
<div class="text-left bg-overlay-dark-3 py-8 d-block d-md-none" style="background:url({{item.image}}) no-repeat; background-size:cover; background-position: center center;">
  <div class="container">
    <div class="row all-text-white">
      <div class="col-md-8 align-self-center editable">
        <h1 class="fw-bold hero__title">Learning Development Designed to Scale</h1>
        <h3 class="mb-8">DTS develops immersive and interactive software for PC, AR/VR, and mobile experiences.</h3>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<section class="home-video d-md-block d-none">
  {% for item in site.data.home-video limit:1 %}
  <div class="background-image-holder"><img alt="image" src="{{item.image}}" class="editable" /></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{{item.video}}" class="editable" type="video/mp4">
  </video>
  {% endfor %}
</section>

<section class="team pb-0">
  <div class="container">
   <!-- if mobile -->
    <div class="row mb-3 text-left">
      <div class="col-12 mx-auto">
        <h1 class="fw-bold hero__title text-black editable">Learning Development Designed to Scale</h1>
        <h3 class="mb-8 editable">DTS develops immersive and interactive software for PC, AR/VR, and mobile experiences.</h3>
         <!-- title -->
         <div class="title text-left">
           <h2 class="portfolio-title editable editable">Industry Forward Solutions</h2>
           
         </div>
       </div>
    </div>
<!-- Endif -->
    <div class="row pb-6">
      <!-- Team item -->
      <div class="col-md-4">
        <div class="feature-box f-style-2 h-100 px-0 pt-0 card shadow">
      <div class="mx-md-auto align-self-center position-relative">
        <img class="card-img-top" src="/assets/images/energy2.jpg" alt="" />
        <div class="position-absolute top-50 start-50 translate-middle">
          <a data-glightbox="" href="https://player.vimeo.com/video/376913308?h=bbf97df920&autoplay=1"> <i class="fa-regular fa-circle-play fa-3x text-white"></i>
          </a>
        </div>
      </div>
      <div class="team-item text-left align-self-center mx-4">
          <div class="team-desc">
            <h5 class="team-name editable">Energy & Manufacturing</h5>
            <span class="sub-text d-none"> </span>
            <p class="editable">We began as a brick & mortar safety training company are now a valued software development partner providing learning solutions across the sector.</p>
          </div>
      </div>
        </div>
      </div>
      <!-- Team item -->
     <div class="col-md-4">
       <div class="feature-box f-style-2 h-100 px-0 pt-0 card shadow">
    <div class="mx-md-auto align-self-center position-relative">
       <img class="card-img-top editable" src="/assets/images/kitchen.png" alt="" />
      <div class="position-absolute top-50 start-50 translate-middle">
         <a data-glightbox="" href="https://player.vimeo.com/video/390542485?h=bbf97df920&autoplay=1">  <i class="fa-regular fa-circle-play fa-3x text-white"></i> 
       </a>
       </div>
     </div>
     <div class="team-item text-left align-self-center mx-4">
         <div class="team-desc">
           <h5 class="team-name editable">Government</h5>
           <span class="sub-text d-none">  </span>
           <p class="editable">DTS is a partner in a cohort of successful military contractors and a longterm vendor to state department of health programs sanctioned by the federal government.</p>
         </div>
     
     </div>
       </div>
     </div>
      <!-- Team item -->
     <div class="col-md-4">
       <div class="feature-box f-style-2 h-100 px-0 pt-0 card shadow">
     <div class=" mx-md-auto align-self-center position-relative">
       <img class="card-img-top editable" src="/assets/images/virgin2.png" alt="" style="height:100%;object-fit:cover;" />
      <div class="position-absolute top-50 start-50 translate-middle">
         <a data-glightbox="" href="https://player.vimeo.com/video/558259558?h=bbf97df920&autoplay=1"> <i class="fa-regular fa-circle-play fa-3x text-white"></i> 
       </a>
       </div>
     </div>
     <div class="team-item text-left align-self-center mx-4">
         <div class="team-desc">
           <h5 class="team-nam editablee">Hospitality & Entertainment</h5>
          <span class="sub-text d-none editable"> Hospitality & Entertainment</span>
           <p class="editable">Our hospitality training and tourism solutions are embraced by global brands across the sector, as we expand our visual effects production services.</p>
         </div>
     </div>
       </div>
     </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-left py-4 mt-4">
       <h3 class="portfolio-title editable">Next Generation Technology & Talent</h3>
      </div>
      <!-- Team item -->
      <div class="col-md-4">  
      <div class="feature-box f-style-2 h-100 px-0 pt-0 card shadow">
      <div class=" mx-md-auto align-self-center position-relative">
        <img class="card-img-top editable" src="/assets/images/software.jpg" alt="" />
        <div class="position-absolute start-0 bottom-0 ms-4 ms-md-n2 mb-3">
          
        </div>
      </div>
      <div class="team-item text-left align-self-center mx-4">

          <div class="team-desc">
            <h5 class="team-name pb-2 editable">Design, Development & Distribution </h5>
            <span class="sub-text d-none editable">Software</span>
            <p class="editable">In concert with our partners, we are committed to providing the most effective and cost-efficient solutions to deliver best-in-class technologies.</p>
           <span class="d-none mt-4 editable">Unity VAR/CCN I MetaQuest ISV I Innoactive/Arbor/C3D</span>
           <span class="mt-6"><a target="_blank" class="editable" href="https://arborxr.com/blog/customer-story-digital-twin-studios-and-virgin-hotels/">Arbor XR Case Study</a></span>
          </div>
      
      </div>
        </div>
      </div>
      <div class="col-md-4">
      <div class="feature-box f-style-2 h-100 px-0 pt-0 card shadow">
      <div class=" mx-md-auto align-self-center position-relative">
        <img class="card-img-top editable" data-cms-options='{_editables.text}' src="/assets/images/maybe.jpg" alt="" />
        <div class="position-absolute start-0 bottom-0 ms-4 ms-md-n2 mb-3">
        
        </div>
      </div>
      <div class="team-item text-left align-self-center mx-4">
          <div class="team-desc">
            <h5 class="team-name editable">The Future of Work & Professional Development</h5>
            <span class="sub-text editable d-none">Education</span>
            <p class="editable">We actively participate in workforce development initiatives that facilitate industry standard training opportunities for the next generation of creators</p>
           <span class="d-none mt-4 editable">LED | ULL | AIE | LPSS</span>
           <span class="mt-6">
               <a target="_blank" class="editable" href="https://www.opportunitylouisiana.com/led-news/news-releases/news/2022/05/04/unity-and-led-team-up-to-bring-real-time-3d-training-to-louisiana-classrooms">
                   Unity & LED Press Release
               </a>
           </span>
          </div>
      
      </div>
      </div>
      </div>
      <div class="col-md-4">
      <div class="feature-box f-style-2 h-100 px-0 pt-0 card shadow">
      <div class=" mx-md-auto align-self-center position-relative">
        <img class="card-img-top editable" src="/assets/images/contact2.jpg" alt="" />
        <div class="position-absolute start-0 bottom-0 ms-4 ms-md-n2 mb-3">
         
        </div>
      </div>
      <div class="team-item text-left align-self-center mx-4">
          
          <div class="team-desc">
            <h5 class="team-name editable">Business Development & Partnerships</h5>
            <span class="sub-text d-none editable">You</span>
            <p class="editable">We embrace opportunities to work with clients and partners committed to solving immediate challenges via scalable solutions.</p>
           <span class="mt-6"><a href="mailto:info@dtsxr.com" class="editable">Contact Us</a></span>
          </div>
      
      </div>
      </div>
      </div>
    </div>
    <!-- row end -->
  </div>
</section>
 <section class="client pt-6">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <!-- Slider START -->
         <div class="tiny-slider arrow-hover arrow-gray">
           <div class="tiny-slider-inner" data-arrow="true" data-dots="false" data-autoplay="3800" data-gutter="80" data-items-xl="6" data-items-lg="5" data-items-md="4" data-items-sm="3" data-items-xs="2">
             {% for item in site.data.companies %}
             <div class="item"><img src="{{item.image}}" alt="{{item.name}}"></div>
             {% endfor %}
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>

 
