<footer class="footer footer-dark pt-6 position-relative">
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12 order-sm-5 space-top-1 ml-0 pl-0 editable">
						<!-- Social Networks -->
						<ul class="list-inline mb-0 ">
							<li class="list-inline-item">
								<a class="mx-1 btn-bg-transparent social-icons-link"
								   href="https://vimeo.com/dtsxr" target="_blank">

									<img class="img-fluid transition-3d-hover social-icon"
										 src="/assets/images/vimeo_icon_white.png" %}"
										 alt="Vimeo"/>
								</a>
							</li>

							<li class="list-inline-item ">
								<a class="mx-1 btn-bg-transparent social-icons-link"
								   href="https://www.linkedin.com/company/digital-twin-studios/" target="_blank">

									<img class="img-fluid transition-3d-hover social-icon"
										 src="/assets/images/LI-In-Bug.png"
										 alt="LinkedIn"/>
								</a>
							</li>
						</ul>
				</div>
				<!-- Footer widget 1 -->
				<div class="col-md-4 order-sm-1 editable">
					<div class="widget address">
						<a href="/" class="footer-logo mb-3 d-block">
							<img src="/assets/images/DTS-light.svg" class="img-fluid"/>
						</a>

						<p class="editable">Digital Twin Studios, LLC (DTS) is a learning development company specializing in immersive
							and interactive simulations for multiple industries. </p>
					</div>
				</div>
				<!-- Footer widget 2 -->
				<div class="col-md-2 order-sm-3 d-none">
					<div class="widget">
						<h6>Quick LInks</h6>
						<ul class="nav flex-column">
							<li class="nav-item"><a class="nav-link" href="#">About</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Home</a></li>

						</ul>
					</div>
				</div>
				<!-- Footer widget 3 -->
				<div class="col-md-2 col-sm-4 order-sm-4 d-none">
					<div class="widget">
						<h6>Company</h6>
						<ul class="nav flex-column primary-hover">
							<li class="nav-item"><a class="nav-link" href="#">Help</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Careers</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Terms & Conditions</a></li>
							<li class="nav-item"><a class="nav-link" href="#">Privacy & Policy</a></li>
							<li class="nav-item"><a class="nav-link" href="#">FAQs</a></li>
						</ul>
					</div>
				</div>

				<!-- Footer widget 5 -->
				<div class="col-md-4 col-sm-6 order-sm-2 editable">
					<div class="widget address">
						<ul class="list-group list-group-borderless">
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-map-alt"></i>905 Jefferson St,
								Lafayette, LA 70501 Suite 506
							</li>
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-headphone-alt"></i> (337) 502-8871</li>
							<li class="d-flex mb-3"><a href="mailto:info@dtsxr.com"><i
									class="me-3 display-8 ti-email"></i> info@dtsxr.com</a></li>
							<li class="d-flex mb-3"><i class="me-3 display-8 ti-time"></i>
								<p>Mon - Fri: <strong>09:00 - 5:00</strong> <br>Sat & Sun: <strong>Closed</strong></p>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="divider mt-3"></div>
	<!--footer copyright -->
	<div class="footer-copyright py-3 editable">
		<div class="container">
			<div class="d-md-flex justify-content-between align-items-center py-3 text-center text-md-start">
				<!-- copyright text -->
				<div class="copyright-text">&copy;2022 All Rights Reserved by <a href="/"> Digital Twin Studios.</a>
				</div>
				<!-- copyright links-->

			</div>
		</div>
	</div>
</footer>


<!-- Back to top -->
<div><a href="#" class="back-top btn btn-grad"><i class="ti-angle-up"></i></a></div>