  <nav class="container navbar navbar-expand-lg editable">
	<div class="container">
		<!-- Logo -->
		<a class="navbar-brand" href="/">
			<!-- Logo -->
			<img class="navbar-brand-item" src="/assets/images/DTS-light.svg"
				 alt="Digital Twin Studios">
		</a>
		<!-- Menu opener button -->
		<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Main Menu Start -->
		<div class="collapse navbar-collapse editable" id="navbarCollapse">
			<ul class="navbar-nav navbar-nav-scroll navbar-nav-scroll ms-auto">
				<!-- Menu item 1 Demos-->
				<li class="nav-item dropdown">
					<a class="nav-link" href="/">Home</a>

				</li>

				<li class="nav-item dropdown">
					<a class="nav-link" href="/create-the-creator" id="demosMenu">Create the Creator</a>
				</li>
				<li class="nav-item dropdown d-none">
					<a href="/account/" class=" mb-0"><i class="fa fa-user"></i></a>
				</li>
				
				{% comment %}
				<li class="nav-item dropdown megamenu">
						 <a class="nav-link dropdown-toggle" href="#" id="elementsMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Unity Solutions</a>
						 <div class="dropdown-menu bg-black" aria-labelledby="elementsMenu">
							 <div class="container">
								 <div class="row w-100">
									 <div class="col-sm-6 col-lg-3">
										 <ul class="list-unstyled">
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link </a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
										 </ul>
									 </div>
									 <div class="col-sm-6 col-lg-3">
										 <ul class="list-unstyled">
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link </a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
										 </ul>
									 </div>
									 <div class="col-sm-6 col-lg-3">
										 <ul class="list-unstyled">
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
										 </ul>
									 </div>
									 <div class="col-sm-6 col-lg-3">
										 <ul class="list-unstyled">
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link </a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
											 <li> <a class="dropdown-item" href="#">Link</a> </li>
										 </ul>
									 </div>
								 </div>
							 </div>
						 </div>
					 </li>
				{% endcomment %}

			</ul>
		</div>
		<!-- Main Menu End -->
	</div>
</nav>